@font-face {
    font-family: fantasy;
    src: url(fonts/Gagalin-Regular.ttf);
    font-family: gagalin;
}

body {background-color: black;
    font-family: gagalin;}
h1   {color: rgb(66,229,149);
    letter-spacing: 5px;
    background-color: rgb(159,1,255);
    font-family: gagalin;
    font-size: 560%;
    text-shadow: 2px 2px rgb(255, 82, 111), 6px 6px black;
    /* text-shadow: 4px 4px rgb(255, 88, 116); */
    text-align: center;}
h2   {
    color: rgb(159,1,255);
    font-family: gagalin;
    font-size: 260%;
    text-align: center;
    text-shadow: 1px 1px #42e595;
    }
p    {
    color: #2e9e68;
    padding: 30px;
    
}
div{
    color: #2e9e68;
    font-family: gagalin;
    font-size: 160%;
    text-align: center;

}
form{
    color: #2e9e68;
    font-family: gagalin;
    font-size: 160%;
    
}


.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
.column {
    flex: 20%;
    padding: 5px;
}
#avatar{
        border-radius: 50%;
}
#rulelist{
    font-family: gagalin;
    font-size: 250%;
    color: rgb(159,1,255);
    text-shadow: 1px 1px #42e595;
}
#ruledesc{
    font-size: 50%;
}
/* Navbar */
#navbar {
  overflow: hidden;
  background-color: rgb(159,1,255);
}
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding:  16px;
  text-decoration: none;
  text-shadow: 4px 2px black;
  font-size: 24px;
}
#navbar a:hover {
  background-color: #42e595;
  color: rgb(159,1,255);
}
#navbar a.active {
  background-color: #42e595;
  color: rgb(159,1,255);
}
/* sticky nav bar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
 padding: 16px;
}
.sticky + .content {
    padding-top: 60px;
}